<div class="stars-layer">
  <div class="star" *ngFor="let s of stars"
       [ngStyle]="{
         left: s.x + 'vw',
         animationDuration: s.d + 's',
         animationDelay: s.delay + 's'
       }">
  </div>
</div>
<div *ngIf="loading">
  Ładowanie statków kosmicznych...
</div>
<div *ngIf="!loading && spaceships" class="spaceships-container">

  <div class="spaceships-card">
<div class="spaceships-image">
      <img *ngIf="spaceships?.imageUrl" [src]="'http://localhost:8080' + spaceships.imageUrl">
    
    <div class="spaceships-gif">
      <img *ngIf="spaceships?.gifUrl" [src]="'http://localhost:8080' + spaceships.gifUrl">
    </div>
    </div>

    <div class="spaceships-details">
      <h1 class="spaceships-name">{{ spaceships.name }}</h1>

      <p><b>Model:</b> {{ spaceships.model }} </p>
      <p><b>Twórca:</b> {{ spaceships.creator }}</p>
      <p><b>Cena:</b> {{ spaceships.price }} credits</p>
      <p><b>Długość:</b> {{ spaceships.length }} </p>
      <p><b>Maksymalna prędkość:</b> {{ spaceships.maxSpeed }} km/h</p> <br>

      <p class="spaceships-descriptions">
        {{ spaceships?.description }}
      </p>

    </div>
  </div>
</div>