<div *ngIf="loading">
  Ładowanie statków kosmicznych...
</div>
<div *ngIf="!loading && spaceships" class="spaceships-container">

  <div class="spaceships-card">

    <div class="spaceships-image">
      <img [src]="images[routeId || ''] || ''" />
    </div>

    <div class="spaceships-details">
      <h1 class="spaceships-name">{{ spaceships.name }}</h1>

      <p><b>Model:</b> {{ spaceships.model }} </p>
      <p><b>Twórca:</b> {{ spaceships.manufacturer }}</p>
      <p><b>Cena:</b> {{ spaceships.cost_in_credits }} credits</p>
      <p><b>Długość:</b> {{ spaceships.length }} m</p>
      <p><b>Maksymalna prędkość:</b> {{ spaceships.max_atmospheric_speed }} km/h</p> <br>

      <p class="spaceships-descriptions">
        {{ descriptions[routeId || ''] }}
      </p>

    </div>
  </div>
</div>