<div class="stars-layer">
  <img src="assets/img/spaceships/millenium-falcon-aa.png" class="falcon">
  <div class="star" *ngFor="let s of stars"
       [ngStyle]="{
         left: s.x + 'vw',
         animationDuration: s.d + 's',
         animationDelay: s.delay + 's'
       }">
  </div>
</div>
<div *ngIf="loading">
  Ładowanie planety...
</div>
<div *ngIf="!loading && planet" class="planet-container">

  <div class="planet-card">

    <div class="planet-image">
      <img [src]="images[routeId || ''] || ''" />
    </div>

    <div class="planet-details">
      <h1 class="planet-name">{{ planet.name }}</h1>

      <p><b>Teren:</b> {{ planet.terrain }} </p>
      <p><b>Grawitacja:</b> {{ planet.gravity }} kg</p>
      <p><b>Klimat:</b> {{ planet.climate }}</p>
      <p><b>Powierzchnia wody:</b> {{ planet.waterSurface }}</p>
      <p><b>Populacja:</b> {{ planet.population }}</p> <br>

      <p class="planet-descriptions">
        {{ descriptions[routeId || ''] }}
      </p>

    </div>
  </div>
</div>