<div class="stars-layer">
  <img src="assets/img/spaceships/millenium-falcon-aa.png" class="falcon">
  <div class="star" *ngFor="let s of stars"
       [ngStyle]="{
         left: s.x + 'vw',
         animationDuration: s.d + 's',
         animationDelay: s.delay + 's'
       }">
  </div>
</div>
<div *ngIf="loading">
  Ładowanie pojazdu...
</div>
<div *ngIf="!loading && vehicle" class="vehicle-container">

  <button (click)="goToMenu()" class="back-button">
  <span class="arrow">←</span> Menu
</button>


  <div class="vehicle-card">
    <div class="vehicle-image">
      <img *ngIf="vehicle?.imageUrl" [src]="'http://localhost:8080' + vehicle.imageUrl">
    
    <div class="vehicle-gif">
      <img *ngIf="vehicle?.gifUrl" [src]="'http://localhost:8080' + vehicle.gifUrl">
    </div>
    </div>
    

    <div class="vehicle-details">
      <h1 class="vehicle-name">{{ vehicle.name }}</h1>

      <p><b>Model:</b> {{ vehicle.model }}</p>
      <p><b>Producent:</b> {{ vehicle.manufacturer }}</p>
      <p><b>Klasa:</b> {{ vehicle.vehicleClass }}</p>
      <p><b>Cena:</b> {{ vehicle.cost_in_credits }} credits</p>
      <p><b>Pasażerowie:</b> {{ vehicle.passengers }}</p>

      <p class="vehicle-descriptions">
        {{ vehicle?.description }}
      </p>

    </div>
  </div>
</div>