<div *ngIf="loading">
  Ładowanie pojazdu...
</div>
<div *ngIf="!loading && vehicle" class="vehicle-container">

  <div class="vehicle-card">

    <div class="vehicle-image">
      <img [src]="images[routeId || ''] || ''" />
    </div>

    <div class="vehicle-details">
      <h1 class="vehicle-name">{{ vehicle.name }}</h1>

      <p><b>Model:</b> {{ vehicle.model }}</p>
      <p><b>Producent:</b> {{ vehicle.manufacturer }}</p>
      <p><b>Klasa:</b> {{ vehicle.vehicleClass }}</p>
      <p><b>Cena:</b> {{ vehicle.cost_in_credits }} credits</p>
      <p><b>Pasażerowie:</b> {{ vehicle.passengers }}</p>

      <p class="vehicle-descriptions">
        {{ descriptions[routeId || ''] }}
      </p>

    </div>
  </div>
</div>