<h1 class="title">STAR WARS</h1>

<div class="options-container">

 
  <div class="option">
  <button class="option-btn" (click)="toggleDropdown('characters')">
    Postacie
  </button>

  <div class="dropdown" *ngIf="openDropdown === 'characters'">
    <div *ngFor="let character of characters">
      <button (click)="goToCharacter(character.id)">
        {{ character.name }}
      </button>
    </div>
  </div>
</div>
 

  <div class="option">
  <button class="option-btn" (click)="toggleDropdown('planets')">
    Planety
  </button>

  <div class="dropdown" *ngIf="openDropdown === 'planets'">
    <div *ngFor="let planet of planets">
      <button (click)="goToPlanet(planet.id)">
        {{ planet.name }}
      </button>
    </div>
  </div>
</div>

  
  <div class="option">
  <button class="option-btn" (click)="toggleDropdown('vehicles')">
    Pojazdy
  </button>

  <div class="dropdown" *ngIf="openDropdown === 'vehicles'">
    <div *ngFor="let vehicle of vehicles">
      <button (click)="goToVehicles(vehicle.id)">
        {{ vehicle.name }}
      </button>
    </div>
  </div>
</div>

  
 <div class="option">
  <button class="option-btn" (click)="toggleDropdown('species')">
    Gatunki
  </button>

  <div class="dropdown" *ngIf="openDropdown === 'species'">
    <div *ngFor="let s of species">
      <button (click)="goToSpecies(s.id)">
        {{ s.name }}
      </button>
    </div>
  </div>
</div>

 
  <div class="option">
  <button class="option-btn" (click)="toggleDropdown('starships')">
    Statki kosmiczne
  </button>

  <div class="dropdown" *ngIf="openDropdown === 'starships'">
    <div *ngFor="let ship of starships">
      <button (click)="goToSpaceships(ship.id)">
        {{ ship.name }}
      </button>
    </div>
  </div>
</div>

