<div class="stars-layer">
  <div class="star" *ngFor="let s of stars"
       [ngStyle]="{
         left: s.x + 'vw',
         animationDuration: s.d + 's',
         animationDelay: s.delay + 's'
       }">
  </div>
</div>
<div *ngIf="loading">
  Ładowanie gatunku...
</div>
<div *ngIf="!loading && species" class="species-container">

  <div class="species-card">

    <div class="species-image">
      <img [src]="images[routeId || ''] || ''" />
    </div>

    <div class="species-details">
      <h1 class="species-name">{{ species.name }}</h1>

      <p><b>Klasyfikacja:</b> {{ species.classification }}</p>
      <p><b>Określenie:</b> {{ species.designation }}</p>
      <p><b>Średni wzrost:</b> {{ species.averageHeight }} cm</p>
      <p><b>Kolor skóry:</b> {{ species.skinColors }} </p>
      <p><b>Język:</b> {{ species.language }}</p>

      <p class="species-descriptions">
        {{ descriptions[routeId || ''] }}
      </p>

    </div>
  </div>
</div>