<div class="stars-layer">
  <img src="assets/img/spaceships/millenium-falcon-aa.png" class="falcon">
  <div class="star" *ngFor="let s of stars"
       [ngStyle]="{
         left: s.x + 'vw',
         animationDuration: s.d + 's',
         animationDelay: s.delay + 's'
       }">
  </div>
</div>
<div *ngIf="loading">
  Ładowanie gatunku...
</div>
<div *ngIf="!loading && species" class="species-container">

  <button (click)="goToMenu()" class="back-button">
  <span class="arrow">←</span> Menu
</button>


  <div class="species-card">
<div class="species-image">
      <img *ngIf="species?.imageUrl" [src]="'http://localhost:8080' + species.imageUrl">
    
    <div class="vehicle-gif">
      <img *ngIf="species?.gifUrl" [src]="'http://localhost:8080' + species.gifUrl">
    </div>
    </div>

    <div class="species-details">
      <h1 class="species-name">{{ species.name }}</h1>

      <p><b>Klasyfikacja:</b> {{ species.classification }}</p>
      <p><b>Określenie:</b> {{ species.designation }}</p>
      <p><b>Średni wzrost:</b> {{ species.averageHeight }} cm</p>
      <p><b>Kolor skóry:</b> {{ species.skinColors }} </p>
      <p><b>Język:</b> {{ species.language }}</p>

      <p class="species-descriptions">
        {{ species?.description }}
      </p>

    </div>
  </div>
</div>