<div class="stars-layer">
  <img src="assets/img/spaceships/millenium-falcon-aa.png" class="falcon">
  <div class="star" *ngFor="let s of stars"
       [ngStyle]="{
         left: s.x + 'vw',
         animationDuration: s.d + 's',
         animationDelay: s.delay + 's'
       }">
  </div>
</div>
<div *ngIf="loading">
  Ładowanie postaci...
</div>
<div *ngIf="!loading && character" class="character-container">

  <div class="character-card">
<div class="character-image">

  <img *ngIf="character?.imageUrl"
       [src]="'http://localhost:8080' + character.imageUrl">

  <img *ngIf="character?.gifUrl"
       [src]="'http://localhost:8080' + character.gifUrl">

</div>

    <div class="character-details">
      <h1 class="character-name">{{ character.name }}</h1>

      <p><b>Wzrost:</b> {{ character.height }} cm</p>
      <p><b>Waga:</b> {{ character.mass }} kg</p>
      <p><b>Kolor włosów:</b> {{ character?.hairColor }}</p>
      <p><b>Kolor oczu:</b> {{ character?.eyeColor }}</p>
      <p><b>Rok urodzenia:</b> {{ character?.birthYear }}</p> <br>

      <p class="character-descriptions">
        {{ character?.description }}
      </p>

    </div>
  </div>
</div>